<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, &#xD;&#xA;   log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d] %-5p : %m%n" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--Name of the log file used by broker -->
			<param name="File" value="c:\AMW\Wrk\AlliedFeatures\CashRegPrime\CashReg.log" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1000KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d] %-5p %c : %m%n" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="DefaultCashType" value="HUF" />
    <add key="SearchResultNumber" value="1000"/>
		<add key="DefDeptId" value="A1"/>
    <!--SSRS report links-->
    <add key="Reprint_bat" value="c:\AMW\Wrk\AlliedFeatures\CashRegPrime\CashRegPrimeReprint.bat"/>
    <add key="PrintClosing_bat" value="c:\AMW\Wrk\AlliedFeatures\CashRegPrime\CashRegPrimePrintClosing.bat"/>
    <!--Fiscal printer backup path-->
    <add key="FiscalPrinterBackup" value="c:\AMW\Wrk\AlliedFeatures\CashRegPrime\FiscalPrinter\Bak\"/>
  </appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>